@import 'assets/styles/abstract/index.scss';

.section {
  display: flex;
  flex-grow: 1;
  align-self: center;

  margin: auto;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1300px;
}
// .content {

// }