@import "assets/styles/abstract/index.scss";

.card {
  border-radius: $border-radius;
  border: solid purple 2px;
  width: 94%;
  margin: 3% auto;
  overflow: hidden;
  z-index: -1;
}

.imgContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.image {
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  &:hover {
    opacity: 0.5;
  }
}

.txtContainer {
  background: red;
  text-align: center;
  width: 100%;
  min-height: 150px;
  margin: auto;
}

.txt {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.txtContent {
  padding: 20px;
  margin: auto;
}

.txtContent p {
  margin: 8px 0;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: $breakpoint-tablet) {
  .card {
    width: 46%;
    margin: 1%;
    display: inline-block;
  }
}

@media (min-width: $breakpoint-desktop) {
  .card {
    width: 30%;
  }
}