  @import "assets/styles/abstract/index.scss";


@keyframes fadeInAnimation {
  from {
    // transform: translate(-100px);
    opacity: 0;
  }
  to {
    // transform: translate(0);
    opacity: 1;
  }


  
}

.card {
  border-radius: $border-radius;
  background: $color-button-text;
  
  border: 1px solid $color-border;
  box-shadow: 2px 3px $color-border;

  width: 100%;
  margin: 5% auto;
  overflow: hidden;

  animation-name: fadeInAnimation;
  animation-duration: 3s;

  @media (min-width: $breakpoint-tablet) {
    width: 46%;
    margin: 1%;
    display: inline-block;
  }

  @media (min-width: $breakpoint-desktop) {
      width: 30%;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.image {
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  opacity: 1;

  &:hover {
    opacity: .5;
    scale: 1.05;
  }
}

.txtContainer {
  text-align: center;
  width: 100%;
  min-height: 150px;
  margin: auto;
}

.txt {
  @include vertical-align;
}

.txtContent {
  padding: 20px;
  margin: auto;
}

.txtContent p {
  padding: 20px 0;
}

.title {
  color: $color-sec;

}

.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}