.card {
  background: grey;
  border-radius: 5px;
  border: solid blue 2px;
  height: 400px;
  width: 250px;
}

.image {
  background: yellow;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.text {
  background: red;
}