/* Constants */

:root {
    --nav-size: 300px;
    --profile-img: 120px;
    --border-circle: 50%;

    --main-color: #000000;
}


/* CSS rules applied to more than one element */

*,
a:hover {
  text-decoration: none;
}

html,
body {
    color: var(--main-color);
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
}

.vertical-center {
    display: flex;
    flex-grow: 1;
    align-self: center;
  }

.navigation__content {
    position: relative;
}

.menu-close-btn {
    background-size: cover;
    height: 40px;
    width: 40px;
}


/* Navigation bar */

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--nav-size);
    background: red;
    margin-left: calc(-1 * var(--nav-size));
    z-index: 10;
    transition: margin-left 0.5s ease;
}
.navigation.isOpen{
    margin-left: 0;
}


.navigation__content__close-btn {
    position: absolute;
    background-image: url("/static/images/cross.png");
    right: 10px;
    top: -35px;
}

.navigation__content__profile-img {
    background: white;
    border-radius: var(--border-circle);
    width: var(--profile-img);
    height: var(--profile-img);
    margin: 45px auto;
}

.navigation__content__link__text {
    color: var(--main-color);
    display: block;
    text-align: center;
    font-size: 1.5em;
}


/* Website content */

.body {
    position: relative;
    background: yellow;
}

.body__menu-btn {
    position: fixed;
    background-image: url("/static/images/menu.png");
    left: 10px;
    top: 10px;
}


/* Home */

.home {
    width: 100%;
    height: 100vh;
    background: grey;
}

.home__text {
    margin: auto;
}


/* My projects */

.portfolio__wrapper {
    background: rgb(32, 255, 225);
}


/* About me */

.about__wrapper {
    background-color: cadetblue;
}

