@import "assets/styles/abstract/index.scss";

.wrapper {
  p {
    margin: 20px 0;
  }
}

.list {
  margin: 0;
  padding-left: 16px;
}

.item {
  display: flex;
  flex-direction: row;
}
.itemIcon {
  font-size: .3em;
  color: $pinkDark;
  margin-right: 8px;
  margin-top: 1.5em;
}
.itemContent {
}
