:root {
  --nav-size: 300px;
  --border-circle: 50%;

  --main-color: #000000;
}

.navigation__content {
  position: relative;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--nav-size);
  background: red;
  margin-left: calc(-1 * var(--nav-size));
  z-index: 10;
  transition: margin-left 0.5s ease;
}
.navigation.isOpen{
  margin-left: 0;
}


.navigation__content__close-btn {
  position: absolute;
  background-image: url("/static/images/cross.png");
  right: 10px;
  top: -35px;
}

.avatar {
  margin: 45px auto;
}

.link {
  color: var(--main-color);
  display: block;
  text-align: center;
  font-size: 1.5em;
}