@import "assets/styles/abstract/index.scss";

.landpageContent {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row-reverse;
  }
}

.txtContainer {
  width: 100%;
  min-height: 50vh;

  @include vertical-align;

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    height: 100vh;
  }
}

.txt {
  margin: auto;
  max-width: 80%;

  @media (min-width: $breakpoint-desktop) {
    max-width: 60%;
    text-align: right;
  }
}

.img {
  width: 100%;
  margin: auto;
  height: 50vh;

  @include bg-cover;

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    height: 100vh;
  }
}

.title {
  font-size: 2.2em;
  line-height: 1.1;


  @media (min-width: $breakpoint-tablet) {
    font-size: 5.5em;
  }
}

.subtitle {
  font-size: 1.3em;
  padding: 15px 0;
  // color: #737373;
  color: $color-secondary-text;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.9em;
    padding: 30px 0;
  }
}