@import "assets/styles/abstract/index.scss";

.landpageContent {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row-reverse;
  }
}

.txtContainer {
  width: 100%;
  min-height: 50vh;

  @include vertical-align;

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    height: 100vh;
  }
}

.txt {
  margin: auto;
  max-width: 80%;

  @media (min-width: $breakpoint-desktop) {
    max-width: 60%;
  }
}

.img {
  width: 100%;
  margin: auto;
  height: 50vh;
  background: aqua;

  @include bg-cover;

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    height: 100vh;
  }
}

.title {
  font-size: 2.2em;

  @media (min-width: $breakpoint-tablet) {
    font-size: 5em;
  }
}

.subtitle {
  font-size: 1.3em;
  padding: 15px 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.9em;
    padding: 30px 50px;
  }
}