@import "assets/styles/abstract/index.scss";

.link {
  color: $color-sec;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;


  background-image: linear-gradient(0, $color-main 0, $color-main);
  background-position: bottom;
  background-size: (100% 4px);
	background-repeat: no-repeat;
	box-decoration-break: clone;
	
	will-change: background-size;
  transition: background-size .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  
  &:hover {
    background-size: (100% 100%);
  }
}
