@import 'assets/styles/abstract/index.scss';

.contactContent{
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
}

.info {
  margin: auto;
  padding: 30px 0;
  width: 100%;
  @media (min-width: $breakpoint-desktop) {
    width: 50%;
  }
}

.infoTitle {
  font-size: 1.3em;
}

.infoTxt {
  padding: 15px 0;
  font-size: 1.2em;
}

.contactIcon {
  font-size: 2em;
  padding: 0 5px;
}

.form {
  width: 100%;
  margin: auto;
  height: 200px;
  background: aqua;
  @media (min-width: $breakpoint-desktop) {
    width: 50%;
  }
}