@import 'assets/styles/abstract/index.scss';

.contactContent{
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
}

.backgroundContent {
  background: #fffffff2;
  padding: 40px 0;
}


.info {
  margin: auto;
  padding: 30px 0;
  width: 100%;
  
  @media (min-width: $breakpoint-desktop) {
    width: 50%;
  }
}

.infoTitle {
  font-size: 1.3em;
  color: $color-sec;
  text-transform: uppercase;
}

.infoTxt {
  padding: 15px 0;
  font-size: 1.2em;
}

.contactIcon {
  font-size: 2em;
  padding: 0 5px;
}

.form {
  width: 100%;
  margin: auto;
  box-sizing: border-box;

  @media (min-width: $breakpoint-tablet) {
    width: 70%;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    padding: 30px 100px;
  }
}

.confirmation {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 8px;
  border: 1px solid currentColor;
  border-radius: $border-radius;
  color: $color-status-success;
  text-align: center;
  opacity: 0;
  background: rgba($color-status-success, .1);

  animation-name: animtaionShow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  @keyframes animtaionShow {
    from {opacity: 0;}
    to   {opacity: 1;}
  }

  &_icon {
    font-size: 60px;
    color: currentColor;
  }
  &_txt {
    display: block;
    font-size: 16px;
    margin: 16px 0 0;
  }
}
