@import "assets/styles/abstract/index.scss";

.home {
  height: 100vh;
  background-attachment: fixed;

  @include bg-cover;
}

.btn {

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.2em;
  }
}



