@import "assets/styles/abstract/index.scss";

.home {
  height: 100vh;
  background-attachment: fixed;
  
  .imgHome {
    background-position: top;
  }
}

.btn {
  margin-top: 5px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 1.2em;
  }
}

.txtImportant {
  display: inline;
  @include underlineText();
}