@mixin transition(
  $property: $transition-duration,
  $duration: $transition-duration,
  $timing: $transition-timing
) {
  transition: $property $duration $timing;
}

// https://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
  @include optional-at-root(':-ms-input-placeholder') { @content; }
}

@mixin fieldBox() {
  width: 100%;
  border-radius: $border-radius;
  box-sizing: border-box;
  outline: none;
  border: 1px solid pink;
  padding: 8px;

  @include placeholder {
    font-style: italic;
    color: grey;
    font-weight: 100;
  }
}
@mixin bg-cover {
  // min-height: calc(100% - 40px);
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  position: relative;
  // background-attachment: fixed;
}

@mixin vertical-align {
  display: flex;
  flex-grow: 1;
  align-self: center;
}

@mixin underlineText(
  $color: $color-main,
  $h: 4px,
) {
  background-image: linear-gradient(0, $color 0, $color);
  background-position: bottom;
  background-size: (100% $h);
	background-repeat: no-repeat;
	box-decoration-break: clone;
}