@mixin transition(
  $property: $transition-duration,
  $duration: $transition-duration,
  $timing: $transition-timing
) {
  transition: $property $duration $timing;
}

@mixin fieldBox() {
  width: 100%;
  border-radius: $border-radius;
  box-sizing: border-box;
  outline: none;
  border: 1px solid pink;
  padding: 8px;
}
