$black: #222;
$white: #fefefe;
$white-dark: #bbb;
$red: red;
$green: #329232;
$yellow: #ffe354;
$blue: #1780C6;
$pink: #f2cece;
$pinkDark: #d9415d;

$text-white: $white;
$text-black: #31383f;

/* -------------- */
/* --- Colors --- */
/* -------------- */
$color-main: $yellow;
$color-main-text: $text-black;
$color-main-dark: darken($color-main, 20%);
$color-main-darker: darken($color-main, 40%);

$color-secondary: #fbf6f0;
$color-secondary-text: #757575;

$color-sec: $pinkDark;
$color-sec-text: $text-black;
$color-sec-dark: darken($color-sec, 20%);
$color-sec-darker: darken($color-sec, 40%);
$color-sec-lighter: lighten($color-sec, 30%);

$color-title-text: $color-sec;
$color-background-one: #fafafa;


$color-button: #3a3142;
$color-button-text: $text-white;
$color-border: #f5f5f5;


$color-status-success: $green;
$color-status-error: $red;

/* ------------------ */
/* --- Pagination --- */
/* ------------------ */

$pagination-margin: 1em 0;
$pagination-dot-color-size: .7em;
$pagination-dot-color-margin: .2em;
$pagination-dot-color: $color-sec-lighter;
$pagination-dot-is-active-color: $color-sec;

/* -------------- */
/* --- Others --- */
/* -------------- */
$border-radius: 2px;
$border-style: solid;
$border-width: 1px;
$border-color: $color-main;
$border: $border-style $border-width $border-color;

$icon-toggle-position: 10px;

$transition-duration: 0.5s;
$transition-timing: ease;
$transition-property: all;
$transition: $transition-duration $transition-timing $transition-property;

/* --------------- */
/* --- Sidebar --- */
/* --------------- */
$avatar-size: 150px;
$avatar-picture-padding: 25px;
$sidebar-line-heigth: 35px;

/* --------------------- */
/* --- Font Families --- */
/* --------------------- */

$font-family-main: 'Lato', sans-serif;
$font-family-title: 'Aleo', serif;



/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;